log/_CONSUMO.csv
log/_CPF_INVALIDO.txt
log/_DESABILITADO.txt
log/_NAO_LOCALIZADO.txt
log/_usuariosTAE.json
log/usuariosSS.csv
log/REATIVAR.json
log/_REUSO_EMAILS.json
DOWNLOADS
.devcontainer
TAE.xlsx
.venv
.env
.vscode
.github
__pycache__